body {
    color: rgb(0, 0, 0);
    background-color: #F5F0BB;
}

.barra-menu{
border: 2px solid #ffbb00;
background-color: #B3C890

}

.barra-menu-1 h1{
    border: 2px solid #DBDFAA;
    background-color:#B3C890
}